.auth-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Vertically centers the content */
  height: 100vh; /* Full height to center in the viewport */
  background-color: #f7f7f7; /* Background color for contrast */
}

.auth-card {
  background: white;
  width: 400px;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.auth-card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.auth-card p {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 15px;
}

.auth-google-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #555;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s;
}

.auth-google-button:hover {
  background-color: #f7f7f7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.google-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.auth-divider {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.auth-divider span {
  font-size: 0.9rem;
  color: #555;
  margin: 0 10px;
}

.auth-divider::before,
.auth-divider::after {
  content: '';
  flex: 1;
  height: 1px;
  background: #ddd;
}

input[type='email'],
input[type='password'] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.auth-submit-button {
  width: 100%;
  padding: 10px 0;
  margin: 10px 0;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.auth-submit-button:hover {
  background-color: #0056b3;
}

.auth-message {
  font-size: 0.9rem;
  color: #28a745;
  margin-top: 10px;
}

.auth-toggle {
  margin-top: 20px;
  font-size: 0.9rem;
}

.auth-toggle a {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}

.auth-return-home {
  width: 100%;
  padding: 10px 0;
  margin: 20px 0 0;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #555;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.2s, color 0.2s;
}

.auth-return-home:hover {
  background-color: #e0e0e0;
  color: black;
}
