/* FeedDisplay.css */

.feed-display-card {
  background-color: white;
  width: 50%;
  color: black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
}

.feed-display-title {
  margin: 0 0 10px;
  font-size: 1.5em;
}

.feed-display-body {
  margin: 10px 0;
  font-size: 1em;
}

.feed-display-compensation {
  margin: 10px 0;
  font-size: 1em;
}

.feed-display-error {
  text-align: center;
  color: red;
  font-size: 1em;
  margin: 20px;
}
