.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #004d00; /* Dark green background */
  color: white; /* White text for contrast */
}

.search-bar {
  width: 50%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}
.header-buttons .btn {
  padding: 10px 20px;
  background-color: white;
  color: #007bff;
  border: 1px solid #007bff;
  border-radius: 4px;
  cursor: pointer;
}

.header-buttons .btn:hover {
  background-color: #0056b3;
  color: white;
}

.main-content {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 250px;
  padding: 20px;
  background-color: #f7f7f7;
  border-right: 1px solid #ddd;
}

.postings-container {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
}

.home-footer {
  text-align: center;
  padding: 10px;
  background-color: #004d00; /* Dark green background */
  color: white; /* White text */
}