.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 250px;
  padding: 20px;
  background-color: #f7f7f7;
  border-right: 1px solid #ddd;
}

.postings-container {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
}

