.sidebar {
    background-color: #f7f7f7;
    padding: 20px;
    width: 250px;
    border-right: 1px solid #ddd;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    margin: 10px 0;
  }
  
  .sidebar input[type='checkbox'] {
    margin-right: 10px;
  }
  
  .sidebar label {
    font-size: 1rem;
    cursor: pointer;
  }
  